.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Press Start 2P', system-ui;
  color: #00ff00;
  background-color: black;
  padding-top: 50px;
}

.colz-icon {
  display: flex;
  justify-content: center;
}
i {
  padding: 10px;
  color: #00ff00;
  transform: scale(2);
}

i:hover {
  color: white;
}

.name-header {
  margin: 50px;
}

.typewriter {
  display: flex;
  align-items: center;
  border: 2px solid #00ff00;
  justify-content: center;
  width: 900px;
  padding: 10px;
  text-align: left;
  margin-bottom: 50px;
}

p {
  margin: 0;
}

.profile-buttons {
  display: flex;
  justify-content: space-around;
}

button {
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #00ff00;
  color: black;
  border: none;
  font-family: 'Press Start 2P', system-ui;
  font-size: 20px;
  border: 2px solid #00ff00;
}
button:hover {
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: black;
  color: #00ff00;
  border: 2px solid #00ff00;
  font-family: 'Press Start 2P', system-ui;
  font-size: 20px;
}
